.logo__image
  logoImageSize = 60px
  border-radius 50%
  height logoImageSize
  margin 15px 0 0 15px
  width logoImageSize
  +minScreen(navigationBreakPoint)
    display block
    height round(logoImageSize * 1.5)
    margin 30px auto 0
    width round(logoImageSize * 1.5)
