.button_bg_theme
  background themeColor
  color lightColor
  transition-duration 0.35s
  &:active
    color lightColor
  &:focus
    color lightColor
  &:hover
    background darken(themeColor, changeColor)
    color lightColor
