// Fonts
baseFont = 'Roboto', sans-serif
titleFont = 'Roboto Condensed', sans-serif
fontSize = 16px
lineHeight = 1.5

// Colors
accentColor = #FF515C
additionalColor = #E8EA4D
changeColor = 20%
darkColor = #555555
lightColor = #FFFFFF
themeColor = #267272
webmikornColor = #E8EA4D
darkthemeColor = #1B443F

// Height & width
headerHeight = 60px
siteMinWidth = 320px
siteMaxWidth = 1920px

// Breakpoints
xs = 481px
sm = 576px
md = 768px
lg = 992px
xl = 1200px
xxl = 1600px
navigationBreakPoint = md
topPhoneBreakPoint = lg

// Overlays
darkOverlay = rgba(0, 0, 0, 0.45)
darkWindow = rgba(0, 0, 0, 0.8)
lightOverlay = rgba(255, 255, 255, 0.8)
themeOverlay = rgba(65, 161, 149, 0.8)
