.login-form__input
  border-bottom 2px solid themeColor
  border-left 0
  border-right 0
  border-top 0
  display block
  font-size round(fontSize * 1.2)
  margin-bottom 30px
  padding 5px 0
  text-align center
  width 100%
  +minScreen(sm)
    margin-bottom 40px
