.item__number
  itemNumberSize = 35px
  background lighten(themeColor, changeColor)
  border-radius 50%
  color lightColor
  height itemNumberSize
  line-height itemNumberSize
  text-align center
  width itemNumberSize
