.social__link
  socialLinkSize = 45px
  align-items center
  background lightColor
  border-radius 50%
  display flex
  font-size round(fontSize * 1.5)
  justify-content center
  height round(socialLinkSize * 0.8)
  margin 0 5px
  width round(socialLinkSize * 0.8)
  +minScreen(md)
    font-size round(fontSize * 1.8)
    height socialLinkSize
    width socialLinkSize
